<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRUDAPI"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.crudapi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LaboratoriumFormActivity"
            android:exported="false" />
        <activity
            android:name=".LaboratoriumActivity"
            android:exported="false" />
        <activity
            android:name=".DosenFormActivity"
            android:exported="false" />
        <activity
            android:name=".DosenActivity"
            android:exported="false" />
        <activity
            android:name=".KrsFormActivity"
            android:exported="false" />
        <activity
            android:name=".KrsActivity"
            android:exported="false" />
        <activity
            android:name=".MatakuliahFormActivity"
            android:exported="false" />
        <activity
            android:name=".MatakuliahActivity"
            android:exported="false" />
        <activity
            android:name=".MahasiswaFormActivity"
            android:exported="false" />
        <activity
            android:name=".MahasiswaActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CRUDAPI.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TambahProdiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>
